@use 'src/scss/function';
@use 'src/scss/classes';

$boxShadow: 0 0 function.pxToRem(4);
$borderStyle: function.pxToRem(2) solid;

.wrapper {
    @include classes.center('align');

    + .wrapper {
        margin-left: function.spacing(1);
    }
}

.label {
    font-size: function.pxToRem(15);
    margin-right: function.spacing(1);
}

.input-container {
    position: relative;
    width: 100%;
}

// .icon {
//     position: absolute;
//     @include classes.center();
//     width: function.pxToRem(40);
//     z-index: 1;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
// }

// .check {
//     &-success {
//         color: var(--success);
//     }

//     &-error {
//         color: var(--error);
//     }

//     &-success,
//     &-error {
//         + .input-base {
//             padding-right: function.spacing(5);
//         }
//     }
// }

// .input-base,
// .primary,
// .secondary {
//     &:focus,
//     &:focus:hover {
//         color: var(--black);
//         border: $borderStyle var(--infor);
//         background-color: var(--white);
//         box-shadow: unset;
//         cursor: auto;
//     }
// }

.input-base {
    font-size: function.pxToRem(14);
    outline: none;
    border-radius: var(--radius);
    padding: function.spacing(0.5, 1);
    width: 100%;
    height: function.pxToRem(30);
    border: $borderStyle var(--black-70);
}

.textarea {
    height: function.pxToRem(100);
    resize: none;
}

// .error-text {
//     margin-top: function.spacing(1);
//     font-style: italic;
//     font-weight: 600;
//     font-size: function.pxToRem(13);
//     color: var(--error);
// }

// .primary {
//     background-color: var(--pastel-black);
//     border: $borderStyle var(--pastel-black);
//     color: var(--white);
// }

// .secondary {
//     border: $borderStyle var(--white-70);
//     background-color: var(--white-30);
//     color: var(--white);

//     &::placeholder {
//         color: var(--white);
//     }

//     &:hover {
//         border: $borderStyle var(--white);
//         cursor: auto;
//     }

//     &:focus {
//         &::placeholder {
//             color: var(--black);
//         }
//     }
// }

.success,
.error {
    border-width: function.pxToRem(2);
    border-style: solid;
}

.success {
    border-color: var(--success);
    &:hover {
        box-shadow: $boxShadow var(--success);
    }
}

.error {
    border-color: var(--error);
    &:hover {
        box-shadow: $boxShadow var(--error);
    }
}
