@use 'src/scss/function';
@use 'src/scss/classes';
@import 'normalize.css';

:root {
    --light-color-1: #655d8a;
    --light-color-2: #7897ab;
    --light-color-3: #d885a3;
    --light-color-4: #fdceb9;
    --warning: #fec260;
    --white: #fff;
    --infor: #1976d2;
    --error: #ff1e1e;
    --success: #54b435;

    --blur: 0.563rem;
    --radius: 0.25rem;

    --header-height: 3.125rem;

    --box-shadow: #00000020 0 0.1875rem 0.0625rem -0.125rem, #00000014 0 0.125rem 0.125rem 0,
        #00000012 0 0.0625rem 0.3125rem 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 0.00938em;
}

a {
    text-decoration: none;
}

.image-wrapper {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.position-img-icon {
    position: absolute;
    z-index: 1;
    right: function.spacing(0.7);
    cursor: pointer;
    @include classes.center();
    width: function.pxToRem(20);
    height: function.pxToRem(20);
    font-size: function.pxToRem(20);
}
