@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    display: flex;
}

.container {
    padding-left: var(--nav-width);
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    transition: var(--transition-var);
}

.gallery {
    width: calc(1 / 3 * 100%);
    padding: function.spacing(4);
    @include classes.center('align');
    position: relative;

    .check-btn {
        bottom: function.spacing(0.5);
        color: var(--success);
    }

    .select-btn {
        bottom: function.spacing(3.5);
        color: var(--infor);
        font-size: function.pxToRem(15);
    }
}

.image-wrapper {
    &-left,
    &-right {
        width: 30%;
    }

    &-mid {
        width: 40%;
        margin: function.spacing(0, 0.2);
    }
}

.border-image {
    & > .image-wrapper {
        &-left,
        &-right {
            width: 25%;
        }

        &-mid {
            width: 50%;
            border: function.pxToRem(4) solid var(--success);
            box-shadow: var(--box-shadow);
        }
    }
}
