@use 'src/scss/function';
@use 'src/scss/classes';

.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: antiquewhite;
    @include classes.center('align');
    padding: function.spacing(0, 1);
    z-index: 100;
}

.query-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-container-form,
.right-container-form {
    display: flex;
    flex-shrink: 0;

    .search-inp {
        width: function.pxToRem(250);
    }

    .time-inp {
        margin-left: function.spacing(1);
        width: function.pxToRem(100);
    }
}

.middle-container-form {
    width: 100%;
    max-width: function.pxToRem(450);
    margin: function.spacing(0, 2);
}

.submit-inp-wrapper {
    background-color: black;
}
