@use 'src/scss/function';
@use 'src/scss/classes';

.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--light-color-4);
    @include classes.center('align');
    padding: function.spacing(0, 1);
    z-index: 100;
}

.query-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .submit-btn {
        background-color: black;
        margin-left: function.spacing(1);
        font-size: function.pxToRem(14);
    }
}

.left-container-form,
.right-container-form {
    display: flex;
    flex-shrink: 0;

    .search-inp {
        width: function.pxToRem(200);
    }

    .time-inp {
        width: function.pxToRem(40);
    }

    .search-inp,
    .time-inp {
        @include classes.text-ellipsis();
    }
}

.middle-container-form {
    width: 100%;
    max-width: function.pxToRem(450);
    margin: function.spacing(0, 2);

    .query-inp {
        @include classes.text-ellipsis();
    }
}
