@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: relative;
}

.calendar-wrapper {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + function.pxToRem(5));
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    overflow: hidden;
}
