@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width);
    padding: function.spacing(2);
    z-index: 100;
    box-shadow: var(--box-shadow);
    @include classes.glass-background('dark');
    @include classes.center('align');
    transition: var(--transition-var);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-wrapper + .input-wrapper {
        margin-top: function.spacing(1);
    }
    .label {
        width: function.pxToRem(80);
        flex-shrink: 0;
    }

    .submit-btn {
        background-color: var(--black-70);
        margin-top: function.spacing(1);
        margin-left: function.spacing(11);
        line-height: 1.5;
        height: function.pxToRem(40);
    }
}

.toggle-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: function.pxToRem(25);
    height: function.pxToRem(25);
    @include classes.glass-background('dark');
    @include classes.center();
    color: var(--white);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    svg {
        font-size: function.pxToRem(15);
    }
}
