@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width);
    padding: function.spacing(2);
    z-index: 100;
    box-shadow: var(--box-shadow);
    @include classes.glass-background('dark');
    @include classes.center();

    flex-direction: column;
    transition: var(--transition-var);
}

.title {
    font-style: italic;
    margin-bottom: function.spacing(5);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-wrapper {
        &:nth-child(3) {
            padding-top: function.spacing(2);
            border-top: function.pxToRem(2) dashed var(--white);
        }
        &:nth-child(5) {
            padding-bottom: function.spacing(2);
            border-bottom: function.pxToRem(2) dashed var(--white);
        }

        + .input-wrapper {
            margin-top: function.spacing(1);
        }
    }

    .input-container {
        @include classes.center('align');

        span {
            margin-left: function.spacing(1);
            font-size: function.pxToRem(14);
        }
    }

    .time-inp {
        width: function.pxToRem(55);
    }

    .submit-btn {
        background-color: var(--black-70);
        margin-top: function.spacing(1);
        margin-left: function.spacing(11);
        font-weight: 600;
        font-style: italic;
        line-height: 1.5;
        height: function.pxToRem(40);
    }
}

.toggle-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: function.pxToRem(25);
    height: function.pxToRem(25);
    @include classes.glass-background('dark');
    @include classes.center();
    color: var(--white);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    svg {
        font-size: function.pxToRem(15);
    }
}
