@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: relative;
}

.has-information {
    padding-bottom: function.spacing(6);
}

.container {
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: calc(3 / 4 * 100%);
}

.border-image {
    border: function.pxToRem(4) solid var(--success);
    box-shadow: var(--box-shadow);
}

.icon {
    font-size: function.pxToRem(25);
    cursor: pointer;
    color: var(--white);

    + .icon {
        margin-left: function.spacing(2);
    }
}

.image {
    opacity: 1;
    transition: var(--transition-var);
    backface-visibility: hidden;
}

.middle-content {
    transition: var(--transition-var);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include classes.center();
    border-radius: var(--radius);
}

.container:hover .middle-content {
    opacity: 1;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    z-index: 1;
}

.information {
    padding: function.spacing(1);
    display: flex;
    flex-direction: column;
    font-size: function.pxToRem(13);
    position: absolute;
    bottom: 0;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        &:nth-child(1) {
            font-size: function.pxToRem(14);
            font-weight: 600;
            font-style: italic;
            margin-bottom: function.spacing(0.4);
        }
    }
}

.spacing {
    margin: function.spacing(0, 0.2);
}

.fullsize {
    width: 100%;
}

.large {
    width: 60%;
}

.middle {
    width: 50%;
}

.small {
    width: 40%;
}

.extra-small {
    width: 30%;
}
