@use 'src/scss/function';
@use 'src/scss/classes';

.container {
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: 25%;
        padding: function.spacing(1);
    }
}

.image-wrapper {
    width: 100%;
    padding-top: 75%;
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.no-image {
    text-align: center;
    color: var(--infor);
    width: 100%;
    font-size: function.pxToRem(18);
    margin-top: function.spacing(4);
}

.information {
    color: var(--black);
    bottom: function.spacing(1.5);
}
