@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    width: 100%;
    + .wrapper {
        margin-left: function.spacing(1);
    }
}

.container {
    @include classes.center('align');
    width: 100%;
}

.input {
    &-label {
        font-size: function.pxToRem(14);
        margin-right: function.spacing(1);
    }

    &-base {
        height: function.pxToRem(30);
        border-radius: var(--radius);
        border: 0;
        outline: none;
        padding: function.spacing(0, 1);
        font-size: function.pxToRem(14);
        width: 100%;
    }
}
