@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--light-color-4);
    @include classes.center('align');
    padding: function.spacing(0, 1);
    z-index: 100;
    box-shadow: var(--box-shadow);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .submit-btn {
        background-color: var(--light-color-1);
        margin-left: function.spacing(1);
        font-size: function.pxToRem(14);
        transform: rotate(90deg);
    }
}

.container {
    &-left,
    &-right {
        display: flex;
        flex-shrink: 0;

        .search-inp {
            width: function.pxToRem(180);
        }

        .time-inp {
            width: function.pxToRem(40);
        }

        .search-inp,
        .time-inp {
            @include classes.text-ellipsis();
        }
    }

    &-middle {
        width: 100%;
        max-width: function.pxToRem(450);
        margin: function.spacing(0, 2);

        .query-inp {
            @include classes.text-ellipsis();
        }
    }
}
