@mixin center($type: 'both') {
    display: flex;

    @if $type == 'justify' {
        justify-content: center;
    }

    @if $type == 'align' {
        align-items: center;
    }

    @if $type == 'both' {
        justify-content: center;
        align-items: center;
    }
}

@mixin glass-background($type: 'light') {
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));

    @if $type == 'light' {
        background-color: var(--white-30);
    } @else if $type == 'dark' {
        background-color: var(--black-30);
    }
}

@mixin text-ellipsis($limit: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @if ($limit > 1) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $limit;
        white-space: unset;
    }
}
